{% macro back() %}
    <div class="well">
            <ul class="nav nav-list">
                <li class="nav-header">Nos produits</li>
                {% render(controller('NadoecoNadoecoBundle:Categories:menu')) %}
            </ul>
    </div>
{% endmacro %}